<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.R_Zaragoza"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LOGyREG.view.LoginActivity" />
        <activity android:name=".LOGyREG.view.RegisterActivity" />
        <activity android:name=".UVMainActivity"></activity>
        <activity android:name=".UVdarAltaProd.view.UVAddProductActivity"></activity>
        <activity android:name=".UVListarProd.view.UVListarProdActivity"></activity>
        <activity android:name=".UCMainActivity"></activity>
        <activity android:name=".UCTop10Sellers.view.Top10SellersActivity" />
        <activity android:name=".UCTop10Products.view.Top10ProductActivity" />
        <activity android:name=".UCFiltradoCateg.view.UCFiltradoCategActivity" />
        <!-- Actividad para la busqueda de texto -->
        <activity android:name=".UCBusquedaTexto.view.BusquedaTextoActivity" />
        <activity android:name=".UCDetalleProd.view.DetalleProdActivity" />


    </application>

</manifest>